sphinx
sphinx-autobuild    # For live doc serving while editing docs
sphinx-autodoc2     # For documenting Python API
sphinx-copybutton   # Adds a copy button for code blocks
nvidia-sphinx-theme # Our NVIDIA theme
sphinxcontrib-mermaid # For mermaid diagrams
myst-parser # For our markdown docs
sphinx-design # For grid cards and design elements
sphinxcontrib-mermaid # For mermaid diagrams
swagger-plugin-for-sphinx # For swagger plugin